<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Belize_Taxiapp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5E5040830BCC1BB8F35AA76A07789D7A9AB8FA38</string>
				<key>dateExpires</key>
				<string>11/1/18</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E5040830BCC1BB8F35AA76A07789D7A9AB8FA38</string>
						<key>dateExpires</key>
						<string>11/1/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6GZDJ57L99</string>
						<key>name</key>
						<string>CoRover Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E5040830BCC1BB8F35AA76A07789D7A9AB8FA38</string>
						<key>dateExpires</key>
						<string>11/1/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6GZDJ57L99</string>
						<key>name</key>
						<string>CoRover Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E5040830BCC1BB8F35AA76A07789D7A9AB8FA38</string>
						<key>dateExpires</key>
						<string>11/1/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6GZDJ57L99</string>
						<key>name</key>
						<string>CoRover Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E5040830BCC1BB8F35AA76A07789D7A9AB8FA38</string>
						<key>dateExpires</key>
						<string>11/1/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6GZDJ57L99</string>
						<key>name</key>
						<string>CoRover Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E5040830BCC1BB8F35AA76A07789D7A9AB8FA38</string>
						<key>dateExpires</key>
						<string>11/1/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6GZDJ57L99</string>
						<key>name</key>
						<string>CoRover Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E5040830BCC1BB8F35AA76A07789D7A9AB8FA38</string>
						<key>dateExpires</key>
						<string>11/1/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6GZDJ57L99</string>
						<key>name</key>
						<string>CoRover Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E5040830BCC1BB8F35AA76A07789D7A9AB8FA38</string>
						<key>dateExpires</key>
						<string>11/1/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6GZDJ57L99</string>
						<key>name</key>
						<string>CoRover Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E5040830BCC1BB8F35AA76A07789D7A9AB8FA38</string>
						<key>dateExpires</key>
						<string>11/1/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6GZDJ57L99</string>
						<key>name</key>
						<string>CoRover Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E5040830BCC1BB8F35AA76A07789D7A9AB8FA38</string>
						<key>dateExpires</key>
						<string>11/1/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6GZDJ57L99</string>
						<key>name</key>
						<string>CoRover Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E5040830BCC1BB8F35AA76A07789D7A9AB8FA38</string>
						<key>dateExpires</key>
						<string>11/1/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6GZDJ57L99</string>
						<key>name</key>
						<string>CoRover Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E5040830BCC1BB8F35AA76A07789D7A9AB8FA38</string>
						<key>dateExpires</key>
						<string>11/1/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleMapsDirections.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6GZDJ57L99</string>
						<key>name</key>
						<string>CoRover Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E5040830BCC1BB8F35AA76A07789D7A9AB8FA38</string>
						<key>dateExpires</key>
						<string>11/1/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6GZDJ57L99</string>
						<key>name</key>
						<string>CoRover Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E5040830BCC1BB8F35AA76A07789D7A9AB8FA38</string>
						<key>dateExpires</key>
						<string>11/1/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6GZDJ57L99</string>
						<key>name</key>
						<string>CoRover Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E5040830BCC1BB8F35AA76A07789D7A9AB8FA38</string>
						<key>dateExpires</key>
						<string>11/1/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MFCard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6GZDJ57L99</string>
						<key>name</key>
						<string>CoRover Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E5040830BCC1BB8F35AA76A07789D7A9AB8FA38</string>
						<key>dateExpires</key>
						<string>11/1/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MMDrawerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6GZDJ57L99</string>
						<key>name</key>
						<string>CoRover Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E5040830BCC1BB8F35AA76A07789D7A9AB8FA38</string>
						<key>dateExpires</key>
						<string>11/1/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MRCountryPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6GZDJ57L99</string>
						<key>name</key>
						<string>CoRover Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E5040830BCC1BB8F35AA76A07789D7A9AB8FA38</string>
						<key>dateExpires</key>
						<string>11/1/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6GZDJ57L99</string>
						<key>name</key>
						<string>CoRover Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E5040830BCC1BB8F35AA76A07789D7A9AB8FA38</string>
						<key>dateExpires</key>
						<string>11/1/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SkyFloatingLabelTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6GZDJ57L99</string>
						<key>name</key>
						<string>CoRover Private Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6GZDJ57L99.com.jkdev.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6GZDJ57L99</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>6GZDJ57L99.com.jkdev.app</string>
				</array>
			</dict>
			<key>name</key>
			<string>Belize_Taxiapp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>21010bdc-39b1-45c6-b009-da3ed295f9ad</string>
				<key>name</key>
				<string>JKDevApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6GZDJ57L99</string>
				<key>name</key>
				<string>CoRover Private Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
